---
layout: default
title: Library
---

{% for library in site.library %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ library.url }}">{{ library.title }}</a>
  </h1>
  <p>
    {{ library.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ library.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ library.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}
