<footer class="footer">
  <a href="https://www.facebook.com/neelxyz"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
  <a href="https://www.instagram.com/neelshah_"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
  <a href="https://www.linkedin.com/in/neel-shah-7b5495104/"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
  <a href="mailto:neelknightme@gmail.com"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  <div class="post-date"><a href="{{ site.github.url }}/about.html">{{ site.title }} | {{ site.tagline }} by {{ site.author.name }}</a></div>
</footer>
