<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96592555-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="menu">
  <br>
  <div class="menu-content">
    <a href="{{ site.github.url }}/blog.html">Blog</a>
    <a href="{{ site.github.url }}/library.html">Library</a>
    <a href="{{ site.github.url }}/project.html">Project</a>
    <a href="{{ site.github.url }}/resume.html">Resume</a>
    <a href="{{ site.github.url }}/contacts.html">Contact</a>

  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/neelxyz"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.instagram.com/neelshah_"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/neel-shah-7b5495104/"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  </div>
  <br>
</div>
