<br>
<hr>
<div class="menu">
  
  <div class="menu-content">
    <a href="{{ site.github.url }}/blog.html">Blog</a>
    <a href="{{ site.github.url }}/library.html">Library</a>
    <a href="{{ site.github.url }}/project.html">Project</a>
    <a href="{{ site.github.url }}/resume.html">Resume</a>
    <a href="{{ site.github.url }}/contacts.html">Contact</a>

  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/neelxyz"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.instagram.com/neelshah_"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/neel-shah-7b5495104/"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  </div> 
</div>
<hr>
<br>
